* {
    margin: 0;
    padding: 0;
}

.header {
    background-color: orange;
    padding: 0.3em 0.4em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    height: 4em;
    width: 5em;
}

.menu-icon {
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.close-icon {
    position: absolute;
    top: 1.5em;
    right: 1.2em;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.hidden {
    display: none;
}

.nav-bar {
    top: 0;
    right: 0;
    position: absolute;
    background-color: blue;
    width: 60vw;
    height: 100vh;
    padding: 1em 1.5em;
}

.nav-list {
    list-style-type: none;
    margin-top: 3.8em;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: left;
    gap: 1em;
}

.nav-item {
    font-size: 1.5em;
    font-weight: bold;
}

.btn {
    display: block;
    width: 100%;
    padding: 1em 1.5em;
    font-weight: 600;
    font-size: 16px;
    border: none;
    border-radius: 10px;
}

@media (min-width: 768) {
    .nav-bar,
    .nav-bar * {
        all: unset;
    }

    .menu-icon,
    .close-icon{
        display: none;
    }

    .logo {
        margin-right: auto;
        height: 4em;
        width: 5em;
    }

    .header {
        justify-content: space-around;
        padding: 1em 1em;
    }

    .nav-bar {
        justify-content: space-around;
    }

    .nav-item {
        margin: 0.5em;
        font-size: 20px;
        font-weight: 700;
    }

    .nav-list {
        display: flex;
        justify-content: space-around;
        align-items: center;
        gap: 1vw;
    }

    .btn {
        padding: 0.5em 1em;
        font-weight: 600;
        font-size: 16px;
        border: none;
        border-radius: 10px;
        border: 1px solid black;
        cursor: pointer;
    }
}

